// bower:scss
// endbower

$major-margin: 20px;
$minor-margin: 10px;
$panel-transition-duration: .5s;
$border-color: #ccc;

html {
   -webkit-app-region: drag;
}
/* Space out content a bit */
body {

  padding-bottom: 20px;
  font-size: 1.5em;
  user-select: none;
}

img, input, i {
  -webkit-app-region: no-drag;
}

.col-xs-12 {
  padding-right: 0;
  padding-left: 0;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}



/* Supporting marketing content */
/*.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}*/

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}



.app-header{
  width: 100%;
  display: flex;

  margin-bottom: $major-margin;
  z-index: 2;
  border-bottom: 2px solid $border-color;
  /*background-color: silver;*/

  .search {
    flex: 10;
    z-index: 2;

    input {
      /*border: 0 solid $border-color;*/
      border: 0 solid #F7F2F2;
      /*color: $border-color;*/
    }
    .input-group-addon {
      border: 0 solid $border-color;
      background-color: #fff;
      color: $border-color;
    }
  }

  .menu {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content:  center;

    z-index: 2;

    .icon {
      justify-content:  center;
      display: flex;
      flex: 1;

      i {
        font-size: 2.1rem;
        color: $border-color;
      }
    }

  }
}


.app-card {
  display: flex;
  flex-direction: column;

  /*background-color: lightgreen;*/
  margin-bottom: $minor-margin;
  margin-top: $minor-margin;
  padding: 5px 0;

  .img {
    display: flex;
    flex: 5;
    justify-content: center;
    align-items: center;

    /*background-color: lightgrey;*/
    overflow: hidden;


    img {
      width: 50%
    }
  }

  .title {
    display: flex;
    flex: 1;
    /*background-color: steelblue;*/
    text-align: center;
    justify-content: center;
    align-items: center;

    color: grey;
    font-size: 1rem;
  }
}

.app-card:hover {
  outline: 1px solid gray;
}

.app-settings {
  z-index: 1;

  .settings {
    width: 100%;
    height: 600px;
    background-color: steelblue;
    z-index: 1;
    /*display: none;*/
    position: absolute;
  }

  .settings.out-of-view {
    transition-duration: $panel-transition-duration;
    top: -600px;
  }
  .settings.in-view {
    transition-duration: $panel-transition-duration;
    top: 0;
  }


  /*transform: translateY(-25px);*/
}

.settings {
  width: 100%;
  height: 400px;
  background-color: #fff;

  z-index: 1;
  position: absolute;
  transition-duration: $panel-transition-duration;
  transform: translateY(-700px);
}

.settings.in-view {
  transition-duration: $panel-transition-duration;
  transform: translateY(0);

}

.settings {
  table {
    th, td {
      font-size: 1rem;
      text-align: center;
    }
    img {
      width: 20px;
      float: left;
    }
/*    td:not(first-child){
      text-align: center;
    }*/
  }
}

