<div class="row">
  <div class="col-xs-12">
    <div class="app-header">
      <div class="search">
        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
          </span>
          <input type="text" class="form-control" placeholder="Search" ng-model="model.appSearch.searchString">
        </div>
      </div>
      <div class="menu">
        <div class="icon">
          <i class="fa fa-bars"></i>
        </div>
      </div>
    </div>
  </div>
</div>
