<div class="row">
  <div class="col-xs-12">
    <div class="settings">
      <table class="table">
        <thead>
          <tr>
            <td></td>
            <td>Notifications</td>
            <td>Shared Content</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Social Alpha</td>
            <td>false</td>
            <td>true</td>
          </tr>
          <tr>
            <td>Social Alpha</td>
            <td>false</td>
            <td>true</td>
          </tr>
          <tr>
            <td>Social Alpha</td>
            <td>false</td>
            <td>true</td>
          </tr>
          <tr>
            <td>Social Alpha</td>
            <td>false</td>
            <td>true</td>
          </tr>
          <tr>
            <td>Social Alpha</td>
            <td>false</td>
            <td>true</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

