<div class="row">
  <div class="col-xs-12">
    <div class="settings">
      <table class="table">
        <thead>
          <tr>
            <th>
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="glyphicon glyphicon-chevron-right"></span>
            </th>
            <th>Notifications</th>
            <th>Shared Content</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img src="../images/social-alpha.ico" alt="">
              Social Alpha
            </td>
            <td>
              <input type="checkbox">
            </td>
            <td>
              <input type="checkbox" checked>
            </td>
          </tr>
          <tr>
            <td>
              <img src="../images/social-alpha.ico" alt="">
              Social Alpha
            </td>
            <td>
              <input type="checkbox">
            </td>
            <td>
              <input type="checkbox">
            </td>
          </tr>
          <tr>
            <td>
              <img src="../images/social-alpha.ico" alt="">
              Social Alpha
            </td>
            <td>
              <input type="checkbox">
            </td>
            <td>
              <input type="checkbox" checked>
            </td>
          </tr>
          <tr>
            <td>
              <img src="../images/social-alpha.ico" alt="">
              Social Alpha
            </td>
            <td>
              <input type="checkbox" checked>
            </td>
            <td>
              <input type="checkbox">
            </td>
          </tr>
          <tr>
            <td>
              <img src="../images/social-alpha.ico" alt="">
              Social Alpha
            </td>
            <td>
              <input type="checkbox">
            </td>
            <td>
              <input type="checkbox">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

